html {
    font-family: 'Roboto', sans-serif;

    font-size: 16px;

    color: rgb(70,70,85);

    overflow-x: hidden;
}
body {
    width: 100%;
}

header {
    position: fixed;

    top: 0;
    left: 0;
    right: 0;

    height: 50px;

    background-color: rgba(40, 20, 255, 0.8);

    z-index: 10;

    -webkit-backdrop-filter: blur(25px);

    transition: 0.2s;
}
header h3 {
    color: white;

    font-size: 1.6rem;

    line-height: 0.1rem;

    text-align: center;
}
.headspace{
    height:50px;
}

.flex-container{
    display: flex;
    width:100%;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items:center;
}
.flex-container div{
    background-color: rgb(255,160,160);
    margin: 3%;
    height:75vmin;
    width:75vmin;
}
.flex-container .wide{
    background-color: rgb(160,240,220);

    height:75vmin;
    width:55vmin;
}

@media(min-width :500px){
    header{
    background-color: rgba(120, 10, 225, 0.85);
    }   
    .flex-container div{
        width:75vmin;
        height:75vmin;
    }
    .flex-container .wide{
    height:75vmin;
    width:vmin;
    }

}

@media(min-width :630px){
    header{
        background-color: rgba(180, 40, 190, 0.85);
    }
    .flex-container div{
        width:45vmin;
        height:45vmin;
    }
    .flex-container .wide{
    height:40vmin;
    width:75vmin;
    }

}

@media(min-width :760px){
    header{
        background-color: rgba(210, 100, 100, 0.85);
    }
    .flex-container div{
        width:45vmin;
        height:45vmin;
    }
    .flex-container .wide{
    height:40vmin;
    width:75vmin;
    }
}

@media(min-width :890px){
    header{
        background-color: rgba(210, 120, 50, 0.85);
    }
    .flex-container div{
        width:30vmin;
        height:30vmin;
    }
    .flex-container .wide{
    height:28vmin;
    width:45vmin;
    }
}

@media(min-width :1020px){
    header{
        background-color: rgba(235, 160, 30, 0.85);
    }
    .flex-container div{
        width:23vmin;
        height:23vmin;
    }
    .flex-container .wide{
    height:20vmin;
    width:30vmin;
    }
}

@media(min-width :1150px){
    header{
        background-color: rgba(245, 210, 30, 0.85);
    }
    .flex-container div{
        width:19vmin;
        height:19vmin;
    }
    .flex-container .wide{
    height:16vmin;
    width:23vmin;
    }
}

@media(min-width :1280px){
    header{
        background-color: rgba(250, 235, 60, 0.85);
    }
    .flex-container div{
        width:19vmin;
        height:19vmin;
    }
    .flex-container .wide{
    height:16vmin;
    width:23vmin;
    }
}

@media(min-width :1410px){
    header{
        background-color: rgba(200, 255, 95, 0.85);
    }
    .flex-container div{
        width:15.5vmin;
        height:15.5vmin;
    }
    .flex-container .wide{
    height:13vmin;
    width:19vmin;
    }
}

header{
        background-color: rgba(230, 230, 215, 0.85);
    }